:root {
  --color-principal: #6f0000;
  --color-navbar: #efeaea57;
  --color-secundario: #fff;
  --color-searcher: #6f000038;
  --font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #2b2b2b;
}
body {
  font-family: "Montserrat", sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
